.container-fluid
	.emoji-wrapp
		.emoji-tabs
			include ../inc/emoji/emoji-tabs.pug
		.emoji-content
			include ../inc/emoji/0001_emoji_people.pug
			include ../inc/emoji/0002_emoji_animals.pug
			include ../inc/emoji/0003_emoji_food.pug
			include ../inc/emoji/0004_emoji_activity.pug
			include ../inc/emoji/0005_emoji_travel.pug
			include ../inc/emoji/0006_emoji_objects.pug
			include ../inc/emoji/0007_emoji_symbols.pug
			include ../inc/emoji/0008_emoji_flags.pug
script
	include ../inc/emoji/emoji.js
style
	include ../inc/emoji/emoji.css