
<div class="emoji-wrapp">
	<!-- Smileys & People-->
	<ul class="emoji emoji-smileys-people">
		<li class="emoji--item"><span class="emoji--item--icon">😀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😁</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😆</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤣</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😇</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😉</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😌</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥰</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😘</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😗</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤪</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙁</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☹️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😣</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😫</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😢</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😭</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😤</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😠</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😡</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤬</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤯</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😰</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤗</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤭</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤫</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😬</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😯</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😧</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😮</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😲</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😴</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤤</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😪</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥴</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤢</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤮</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤧</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😷</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤠</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😈</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👿</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👹</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤡</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👻</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☠️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👽</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👾</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😸</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😹</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😻</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😼</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😽</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😿</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">😾</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤲</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙌</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">✊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">✌️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤘</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👌</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👈</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👉</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👆</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👇</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☝️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">✋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🖐️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🖖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💪</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦾</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🖕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">✍️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦿</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦷</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦻</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👣</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👁️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧠</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🗣️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👤</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👧</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👴</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👲</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👮</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👷</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕵️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👰</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👸</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤴</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦸</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦹</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👼</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤰</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙇</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💁</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙆</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤷</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💇</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💆</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🤳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👯</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕴️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🚶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🏃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👫</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👭</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👬</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👪</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥼</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🩲</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🩳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👗</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🩱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👘</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥻</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥿</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👠</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👡</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👢</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥾</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧤</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧣</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧢</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">⛑️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💼</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🧳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">👓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕶️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥽</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌂</span></li>
	</ul>
	<!-- Animals & Nature-->
	<ul class="emoji emoji-animals-nature">
		<li class="emoji--item"><span class="emoji--item--icon">🐶</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐭</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐹</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐰</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐻</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐼</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐯</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦁</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐮</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐷</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐽</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐸</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙈</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙉</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🙊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐧</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐤</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐣</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦆</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦉</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦇</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐗</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐴</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐌</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦗</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕷️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕸️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐢</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐡</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐠</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐬</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦈</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐆</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦧</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐘</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐪</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐫</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦘</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦌</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦮</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐈</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦢</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦩</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🕊️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐇</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦡</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐁</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐿️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🦔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐾</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐉</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐲</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌵</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌲</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌳</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌴</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌱</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌿</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☘️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🍀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🎋</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🍃</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🍂</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🍁</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🍄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🐚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌾</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌷</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌹</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🥀</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌺</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌸</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌼</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌻</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌞</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌝</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌛</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌜</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌚</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌕</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌖</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌗</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌘</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌑</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌒</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌓</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌙</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌎</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌍</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌏</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🪐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💫</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">⭐</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌟</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">✨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">⚡</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☄️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🔥</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌪️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌈</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☀️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌤️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">⛅</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌥️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☁️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌦️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌧️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">⛈️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌩️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌨️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">❄️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☃️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">⛄</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌬️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💨</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💧</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">💦</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☔</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">☂️</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌊</span></li>
		<li class="emoji--item"><span class="emoji--item--icon">🌫️</span></li>
	</ul>
</div>