doctype html
html(dir="ltr" lang="ru" prefix="og: http://ogp.me/ns#")
	include inc/head.pug
	body
		.page
			.page-eye
				|Eye
			.page-top
				|Top bar
			.page-header
				|Header
			.page-main
				include tpl/header.pug
				|[*content*]
			.page-footer
				|Footer